<div class="reporte-container" [class.embedded-view]="embedded">
  <div class="estado-center" *ngIf="cargando">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div class="estado-center error" *ngIf="!cargando && error">
    <mat-icon>error_outline</mat-icon>
    <span>No se pudo cargar el reporte de calificaciones.</span>
  </div>

  <app-libreta-calificaciones
    *ngIf="!cargando && !error && estudiante"
    [apellido]="estudiante.apellido"
    [nombre]="estudiante.nombre"
    [codigoCurso]="estudiante.codigoCurso ?? ''"
    [anioLectivo]="2026"
    [espacios]="espacios"
    (volver)="volver()">
  </app-libreta-calificaciones>
</div>
