.layout-root {
  height: 100vh;
  display: flex;
  background: #f1f5f9;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

app-sidebar {
  margin: 1rem 0 1rem 1rem;
}

app-navbar {
  margin: 1rem 0 1rem 1rem;
}

.layout-content {
  flex: 1;
  margin: 0 1rem 1rem;
}

