.navbar {
  height: 64px;
  padding: 0 1.25rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  background: white;
  border-radius: 18px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

/* SEARCH */
.search-container {
  flex: 1;
  max-width: 80%;
}

.search-box {
  height: 44px;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: #f1f5f9;
  border-radius: 14px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 0.95rem;
}

/* USER AREA */
.user-area {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 0 1.25rem;     
  height: 44px;          

  border-radius: 14px;
}

.username {
  font-size: 1.05rem;   
  font-weight: 500;
  color: #1f2937;
  white-space: nowrap;
}

/* Avatar */
.avatar-btn {
  width: 40px;
  height: 40px;
}

.avatar {
  font-size: 36px;
  color: #0284C7;
}


