/* 🖥 Desktop sidebar */
.sidebar.desktop {
  width: 220px;
  height: 100vh;
  padding: 1rem 0.75rem;
  margin-left: 1rem; 
  background: white;
  border-radius: 22px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}

.logo-item {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  border-radius: 16px;
  cursor: pointer;


}

.logo-placeholder {
  width: 48px;
  height: 48px;

  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 28px;
    color: #0284c7;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


/* 📱 Botón hamburguesa */
.mobile-menu-btn {
  top: 1.1rem;
  left: 1.1rem;
  z-index: 1100;

  width: 52px;
  height: 52px;

  background: white;
  border-radius: 50%;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.16);

  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 28px;
  }
}


/* 📱 Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1000;
}

/* 📱 Panel menú */
.sidebar.mobile {
  position: fixed;
  top: 0;
  left: 0;

  width: 220px;
  height: 100vh;

  background: white;
  padding: 1rem;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  z-index: 1101;
}

/* Items */
nav {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.item {
  height: 44px;
  padding: 0 0.75rem;

  display: flex;
  align-items: center;
  gap: 0.75rem;

  border-radius: 14px;
  font-size: 0.95rem;
  color: #334155;

  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;

  mat-icon {
    font-size: 22px;
  }

  &:hover {
    background: #e0f2fe;
    color: #0284c7;
  }
}



